ConvertAudioLibrary/bin/
ConvertAudioLibrary/obj/
DeezerApi/bin/
DeezerApi/obj/Debug/
MusicDownloaderLibrary/bin/
MusicDownloaderLibrary/obj/
MusixmathSearch/bin/
MusixmathSearch/obj/
SpotifyClass/bin/
SpotifyClass/obj/
TelegramBotMusic/bin/
TelegramBotMusic/obj/
YtmusicSearch/bin/
YtmusicSearch/obj/
TelegramBotMusic/.env
SpotifyClass/.env
TestCode/bin/
TestCode/obj/
TestCode/.env