ConvertAudioLibrary/bin/
ConvertAudioLibrary/obj/Debug/
DeezerApi/bin/
DeezerApi/obj/Debug/
MusicDownloaderLibrary/bin/
MusicDownloaderLibrary/obj/Debug/
MusixmathSearch/bin/
MusixmathSearch/obj/Debug/
SpotifyClass/bin/
SpotifyClass/obj/Debug/
TelegramBotMusic/bin/
TelegramBotMusic/obj/Debug/
YtmusicSearch/bin/
YtmusicSearch/obj/Debug/